# Environment files
.env
frontend/.env
frontend/.env.local

# Python
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Data for testing
data/
